<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <a class="list-group-item clearfix">
            <li class="list-group-item">
               <!-- {{users.name}} -->
               {{Account.name}}
            </li>
            
            <li class="list-group-item">
               Status is  {{Account.status}}
                <!-- The account is {{users.status}} -->
            </li>
            <li class="list-group-item"> 
                <div class="row">
                    <div class="col-md-12">
                <button class="btn"(click)="onSetStatus('Inactive')">Active</button>
                <button class="btn" (click)="onSetStatus('Active')">Inactive</button>
                <button class="btn"(click)="onSetStatus('Unknown')"> Unknown</button>
                </div>
                </div>
            </li>
            </a>
        </ul>
    </div>

</div>